body {
  min-height: 100vh;
  display: flex;
  font-size: 1.3rem;
}
form {
  margin: auto;
  padding: 48px;
  width: max-content;
  height: 25%;
  box-shadow: 0 0 3px black;
}
label {
  display: block;
}
label > * {
  display: block;
}

.wrapper {
  display: flex;
  gap: 16px;
}

input {
  width: 100%;
}
#country,
input {
  box-sizing: border-box;
  padding-top: 1px;
  height: 40px;
  font-size: 1.5rem;
}

label,
input,
#country {
  margin-block: 4px;
}
button,
a {
  text-align: end;
  margin-inline: auto;
  display: block;
  width: auto;
}

a {
  margin-block: 8px;
}

button {
  font-size: 1.4rem;
  margin-block-start: 16px;
}
