label {
  display: block;
}
label > * {
  display: block;
}

.wrapper {
  display: flex;
  gap: 16px;
}

#country,
input {
  box-sizing: border-box;
  border: 2px solid black;
  padding-top: 1px;
  width: 250px;
  height: 25px;
}
